<%- include("header.ejs"); %>

  <section id="testimonials">


    <div id="testimonial-carousel" class="carousel slide" data-ride="carousel data-interva="1000">
    <div class="carousel-inner">
      <div class="carousel-item">
        <div class="testimonials-division">
        <h2 class="testimonial-text">COVID DETECTION</h2>
        <img class="testimonial-image" src="images/4938807.jpg" alt="lady-profile">
        <p>mild</p>
        </div>
      </div>
      <div class="carousel-item active">
          <div class="testimonials-division">
          <h2>PNEUMONIA DETECTION</h2>
          <img src="images/46948.jpg" alt="dog-profile">
          <p>Moderate</p>
          </div>
      </div>
      <div class="carousel-item">
        <div class="testimonials-division">
        <h2>Tuberclousis Detection</h2>
        <img src="images/7774.jpg" alt="dog-profile">
        <p>Moderate</p>
      </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </section>

  <%- include("footer.ejs"); %>
