<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;1,200&display=swap" rel="stylesheet">
  <style>

    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style>
  <link rel="stylesheet" href="css/index.css">

  <title>Razor Blade</title>



</head>


<body class="d-flex flex-column min-vh-100 normal">

  <header class="container">
    <nav class="flex-box jc-flex-sb jc-flex-ai">
      <a href="/" class="logo">
            <img class="logo-img" src="images/logo.png" alt="Razor Blade logo">
      </a>

      <div class="hamburgerdiv hidemobile">
        <a class="navlinks" href="/"> Home</a>
        <a  class="navlinks" href="/about">About</a>
        <a  class="navlinks" href="/signup">Signup</span></a>
        <a  class="navlinks" href="/login">Login</span></a>
      </div>

      <!-- <div class="hamburgerdiv hidemobile">
        <button class="navbutton" type="submit" name="button">
          <a href="/signup">Signup</a>
        </button>

      </div>
      <div class="hamburgerdiv hidemobile">
        <button class="navbutton" type="submit" name="button">
          <a href="/login">Login</a>
        </button>

      </div> -->


      <div class="hamburgerdiv hammenu hidedesktop">
       <span class="hamburger"></span>
       <span class="hamburger"></span>
       <span class="hamburger"></span>
     </div>

      <svg class="open hidedesktop" xmlns="http://www.w3.org/2000/svg" width="18" height="19"><g fill="#2D314D" fill-rule="evenodd"><path d="M.868.661l16.97 16.97-.706.708L.162 1.369z"/><path d="M.161 17.632L17.131.662l.708.706-16.97 16.97z"/></g></svg>


    </nav>


    <div class="menU hidedesktop">
      <ul>
        <li>
          <a href="/home">Home</a>
        </li>
        <li><a href="/about">About</a> </li>
        <li><a href="/login">Signup</a> </li>
      </ul>
    </div>



    </header>


    <section class="flex-box jc-flex-sb mob">
      <div class="basic">
        <div class="hero-written mob-1">
          <h1>Next generation Diagnosing model</h1>
          <p>WORRIED!! HERE IS A OUR SOLUTION USING AI BASED DIAGNOSING OF YOUR SYMPTOMS
          WITH PHOTO UPLOAD FEATURES</p>
          <form action="/form">
            <button class="navbutton" type="submit">Get Started</button>
          </form>
        </div>
      </div>
      <div class="hero-img">
           <img class="img-halftro" src="images/5703042.jpg" alt="">
      </div>
  <script src="javascripts/script.js" charset="utf-8"></script>
</section>
<footer class="mt-auto">
     <h3>POWERED BY AI</h3>
</footer>
</body>
</html>
